@import './../../variables/colors';

.root{
    .list{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        .bullet{
            cursor: pointer;

            .link{
                text-decoration: none;
                color: $black;
            }
            .active{
                color: $blue;
            }
        }
        .bullet:nth-child(2){
            padding: 0 27px;
        }
    }
}