@import './../../variables/colors';
.root{
    width: 100%;
    background-color: $white-transparent;
    width: 900px;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    margin: auto;
    // padding: 0 75px;
    // justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 54px;

    .logo{
        margin-right: 30px;
    }


    .link{
        text-decoration: none;
    }
    .link:visited{
        color: $black;
    }

    .wrapper{
        display: flex;
        // width: calc(157px + 38px + 30px);
    }

    .eye{
        margin-left: 62px;
        margin-right: 62px;
    }

    .menuWrapper{
        display: flex;
        // justify-content: space-between;
        height: 62px;
        width: 100%;
        margin: 0 75px auto;
        align-items: center;
    }

}